.DS_Store
src/.DS_Store
src/Solid/.DS_Store
tests/.DS_Store
tests/Solid.Tests/.DS_Store
.vs/
.vscode/
.code/
src/.vs/
src/.vscode/
src/.code/
src/Solid/.vs/
src/Solid/.vscode/
src/Solid/.code/

src/Solid/obj/
src/Solid/bin/
tests/Solid.Tests/obj/
tests/Solid.Tests/obj/
